@import "../lib/bootstrap/less/bootstrap.less";
@import "variables.less";

@import url(http://fonts.googleapis.com/css?family=Kaushan+Script);
@import url(http://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic);

@icon-font-path: "../lib/bootstrap/fonts/";

html {
  width: 100%;
  height: 100%;
}

body {
  padding-top: @navbar-height;
  height: 100%;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lobster', sans-serif;
}


/******   Common styles   *****/

.transition {
  -webkit-transition: all 1s;
  transition: all 1s;
}

a.icon-link {
  color: @white;
  position: relative;
}

a.icon-link:hover {
  color: @white;
  cursor: pointer;
}

.en-title {
    font-family: 'Kaushan Script', sans-serif;
}

.pretty-title {
    font-family: 'Lobster', cursive;
}


/******   Intro section   *****/

.intro {
  background: url("@{img_path}/header_full_cropped.jpg") no-repeat center top;
  height: 100%;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.welcome {
  top: 400px;
  background: fade(@green, 90%);
  padding: 10px;
  color: @white;
}

.welcome h1 {
  font-size: floor((@font-size-h1 * 1.3));
}

.welcome h4 {
  padding-bottom: 10px;
}

.arrow-down-icon {
  font-size: floor((@font-size-h1));
  top: 0;
}

.arrow-down-icon:hover {
  top: 10px;
}


/******   Slogan section   *****/

.slogan {
  color: @green;
}

.slogan h2 {
  padding-bottom: 10px;
}


/******   Promo section   *****/

.promo {
  background: url("@{img_path}/promo_background.jpg") no-repeat center top;
  height: 100%;
  width: 100%;
  color: @white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.promo-text {
  font-size: floor((@font-size-h1 * 1.5));
}

.promo .cloak {
  width: 100%;
  height: 100%;
  background: fade(@black, 40%);
}

.promo .container {
  height: 100%;
  display: table;
}

.promo .vcenter {
  display: table-cell;
  vertical-align: middle;
}

.promo-play-icon {
  font-size: floor((@font-size-h1 * 3.0));
  top: 0;
}

.promo-play-icon:hover {
  top: -15px;
}

